#------------------------------------------------------------------------------#
# Filename: spaceoddity.desktop                                  /          \  #
# Project : SpaceOddity                                         |     ()     | #
# Date    : 06/17/2022                                          |            | #
# Author  : Dana Hynes                                          |   \____/   | #
# License : WTFPLv2                                              \          /  #
#------------------------------------------------------------------------------#

[Desktop Entry]
Name[en_US]=SpaceOddity
Comment[en_US]=Change your wallpaper to NASA's Astronomy Picture Of the Day
Exec=python3 /usr/bin/spaceoddity_g.py
Icon=spaceoddity.png
Type=Application
Terminal=false
Categories=Other;
Keywords=Wallpaper;APOD;Astronomy;NASA;

# -)
